<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- debug/res/xml 覆盖 main 的 HTTPS-only 配置,允许模拟器访问 10.0.2.2:17654。 -->
</manifest>
